* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font: 16px "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color:□#333;
}

a {
  color:□#333;
  text-decoration: none; 
}

textarea{
  resize: none;
}
